<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    {{#if script}}
    <script src="{{script}}"></script>
    {{else}}
    <script src="scripts/frontend.js"></script>
    {{/if}}
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@200;400&display=swap"
        rel="stylesheet">
    <!-- Filepond stylesheet -->
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/theme.css">

    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>GameTopia</title>
    {{/if}}
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.css">
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.css">



    <script src="node_modules/@glidejs/glide/dist/glide.js"></script>

</head>

<body>
    {{#unless navbar}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GameTopia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">JOIN!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">LISTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{/unless}}


    {{{body}}}
    {{#unless impressum}}
    <footer>
        <center>
            <div id="impressum">
                <h6>GameToopia</h6>
                <h6>Blablblbla</h6>
                <h6>Blablblbla</h6>
                <h6>Made by Alexa, Cornelia, Johanna, Philipp</h6>
            </div>
        </center>
    </footer>
    {{/unless}}


</body>

</html>